<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="naeUser" value="WAICApplication" />
    <add key="naePassword" value="bPutW4m3Ac" />
    <add key="dbUser" value="DLUserWM" />
    <add key="dbPswd" value="xDe5#pszb" />
    <add key="tableName" value="DL_TABLE" />
    <add key="isIntranet" value="false" />    
    <add key="xmlPath" value="C:\Test\XMLs\"/>
    <add key="emptyPath" value="C:\Test\Empty\" />
    
    <add key="excelPath" value="C:\Test\" />
    <add key="processedExcelsPath" value="C:\Test\ProcessedExcels\" />   
    <add key="zipsPath" value="C:\Test\Zips\" />                
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SafeNetTokenizerSoap11Binding">
          <security mode="Transport"/>
        </binding>
        <binding name="SafeNetTokenizerSoap11Binding1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="SafeNetTokenizerSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://sfnws.int.mgc.com/axis2/services/SafeNetTokenizer.SafeNetTokenizerHttpsSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="SafeNetTokenizerSoap11Binding" contract="TokenizerService.SafeNetTokenizerPortType" name="SafeNetTokenizerHttpsSoap11Endpoint"/>
    </client>
  </system.serviceModel>
</configuration>