<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="xmlPath" value="C:\Test\XMLs\"/>
    <add key="emptyPath" value="C:\Test\Empty\" />

    <add key="pgpPath" value="C:\Test\EncryptedZips\" />
    <add key="publicKey" value="C:\Test\public-key.txt" />

    <add key="excelPath" value="C:\Test\" />
    <add key="processedExcelsPath" value="C:\Test\Processed\" />
    <add key="zipsPath" value="C:\Test\Zips\" />
    <add key="LogFileName" value="C:\Test\SafeNetLog.txt"/>

    <add key="zipsPassword" value="password"/>
    <add key="enableZipsPassword" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SafeNetTokenizerSoap11Binding">
          <security mode="Transport"/>
        </binding>
        <binding name="SafeNetTokenizerSoap11Binding1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="SafeNetTokenizerSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://sfnws.int.mgc.com/axis2/services/SafeNetTokenizer.SafeNetTokenizerHttpsSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="SafeNetTokenizerSoap11Binding" contract="TokenizerService.SafeNetTokenizerPortType" name="SafeNetTokenizerHttpsSoap11Endpoint"/>
    </client>
  </system.serviceModel>
</configuration>
